<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found, Please try again</title>
</head>
<body style="text-align: center; padding: 50px; font-family: sans-serif;">
    <h1>404 Page not Found</h1>
    <p>Click button below to go back to home Page</p>

    <a href="/" style="display: inline-block; padding: 10px 20px; background-color: whitesmoke;">Back to Home Page</a>
</body>
</html>