<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found, Please try again</title>
</head>

<!--For avoiding the website to break-->
<body style="text-align: center; padding: 50px; font-family: sans-serif;">
    <h1>404 - Oh No! Your Fish Hook Seems Empty</h1>
    <p>The page/object you are looking for does not exist in our database. Click Help down below to find help.</p>
<!--route back to the home page-->
    <a href="/" style="display: inline-block; padding: 10px 20px; background-color: whitesmoke;">Back to Home Page</a>
</body>
</html>