<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Stardew Valley</h1>
    <p>Create the farm of your dreams: Turn your overgrown fields into a lively and bountiful farm! </p>
  </header>

  <div class="navbar">
    <a href="fish.html">Fishing</a>
    <a href="#">The Farm</a>
    <a href="#">Planting</a>
    <a href="#">Gameplay</a>
    <a href="#">Items</a>
    <a href="#">NPC</a>
    
  </div>
  <div class="w3-container w3-padding-32">
    <h1>fishing:</h1>
    {% block body %}
    {% endblock %}
  </div>
  
</body>



<footer>
  <h2>contact us:
  </h2>
</footer>