{% extends "basic.html" %}
{% block body %}

<h1>Season Filter: {{ season }}</h1>

<!--show the items available in the current season-->
<h2> Fishes available in {{ season }}</h2>
{% if fish_list %}
    <div class="three-column">
        {% for item in fish_list %}
            <a href="/fish/{{ item[0] }}">
                <div class="w3-card-4">
                    <h3>{{ item[1] }}</h3>
                    <img src="{{ item[2] }}" alt="{{ item[1] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No fish found in this section</p>
{% endif %}


<hr>
<!--planting category-->
<h2> Crops to plant in {{ season }}</h2>
{% if crop_list %}
    <div class="three-column">
        {% for item in crop_list %}
            <a href="/planting/{{ item[0] }}">
                <div class="w3-card-4">
                    <h3>{{ item[1] }}</h3>
                    <img src="{{ item[5] }}" alt="{{ item[1] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No crops found for this season</p>
{% endif %}

{% endblock %}